@import 'config';

//General styles

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//Header

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;
  }

  &-inner {
  }
}
